:root {
    --primary: #002892;
    --primary_ligth: #0051AB;
    --secondary: #D42370;

    --violet: #8042B9;
    --orange: #E48010;
    --text: #707A80;
    --fondo : #EFF0F1;
    --green: #006873;

    --wp: #25D366;
    --ligth: #ffffff;
    --grey: #EFF0F1;
    --greyligth: #e1e4e8;
    --alert: indianred;
    --greybold: #505050;
    --redmarck: #d50037;
}

/*
* {
    transition: width 2s;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
*/


.titulo {
    font-family: 'Nunito', serif;
    font-style: italic;
}

/*@over botstrap styles*/
.bg-primary, .btn-primary{background-color: var(--primary) !important;}
.bg-red{background-color: var(--redmarck) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.bg-greyligth{background-color: var(--greyligth) !important;}
.bg-secondary{background-color: var(--secondary) !important;}

.bg-orange{background-color: var(--orange)!important;}


.bg-blue{background-color: var(--primary_ligth) !important;}
.bg-violet{background-color: var(--violet) !important;}
.gb-green{
    background-color: var(--green) !important;
    color: var(--ligth) !important
}
.text-secondary{
    color: var(--secondary) !important
}
.text-violet{
    color: var(--violet) !important;
}

.text-blue-light{
    color: var(--primary_ligth) !important
}

.text-green{
    color:var(--green) !important;
}

.text-gray{
    color: var(--text) !important
}

.text-gray-light{
    color: var(--greyligth) !important
}

.btn{
    border-radius: 0px;
    font-size: 12px;
}

.btn-primary{
    background-color: var(--primary);
    background: linear-gradient(rgb(16, 34, 79) 95%, rgb(3,112,255) 99%);
    color: var(--bs-white);
    border-style: none;
}

.btn-outline-secondary {
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color:var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary{
    background: linear-gradient(rgb(233,35,112) 0%, rgb(233,35,112) 99%);color: var(--bs-white) !important;
    border-style: none !important;
    border-radius: 0px !important;
    font-size: 12px!important;
}

.border-dark{
    border-color: #494949 !important;
}

body{
    background-color: var(--ligth);
}

hr{
    text-align: center;
    width: 70%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.75));
}

.card {
    border: 0px solid rgba(0,0,0,0) !important;
}

/*MyStyles*/
.menu{
    background-color: var(--ligth) !important
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.line-divisor{
    margin: 0px !important;
    height: 2px !important;
}

.float-card{
    top: 16rem;
    position: absolute;
    margin-left: 16rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--violet);
    color: var(--violet);
    width: 390px;
}

.page-footer a {
    color: var(--text) !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: var(--secondary);
}

@media (max-width:1200px ){
    .float-card {
        margin-left: 5rem !important;
    }
    .events-example{
        font-size: .8rem !important;
        margin-bottom: 1rem !important;
    }
}


@media (max-width:980px ){
    .up-wabe {
        margin-top: 0rem !important;
    }
    .float-card {
        margin-left: 0rem !important;
    }
    .events-example{
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .alimento{
        top: 0rem !important;
        left: 0rem !important;
        width: 100% !important;
    }
}


@media (max-width: 767px) {
    .events-example{
        margin: 2rem !important;
        font-size: 2rem !important;
    }
    .tipos-card{
        max-width: 100% !important;
    }
    .media-line{
        top: 300px !important;
        width: 100% !important;
        height: 3px !important;
    }

    .up-wabe-2{
        margin-top: 100px !important;
        z-index: 2;
        position: absolute;
    }

    .computers {
        margin-top: -10rem !important;
        width: 200px !important;
    }
    .float-card {
        top: 5rem !important;
        position: relative!important;
        margin-left: -1rem!important;
        margin-right: 0rem!important;
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        border-radius: 1rem!important;
        border: 3px solid #8e31e3!important;
        color: #4c4c4c!important;
        width: 100%!important;
        height: 100%;
    }

    .alimento{
        top: 2rem !important;
        left: 0rem !important;
        width: 100% !important;
    }

}

@media only screen and (max-height: 800px) {
    .top-header {
        height: 100vh !important;
    }
    .up-wabe-2{
        margin-top: 50px !important;
    }
}

@media (max-width: 576px){

    #frm-news {
        width: 100% !important;
    }

    .events-example{
        margin: 2rem !important;
        font-size: 2rem !important;
    }

    .float-card {
        top: -3rem!important;
        position: relative!important;
        margin-left: 1rem!important;
        padding-top: 3rem!important;
        padding-bottom: 1rem!important;
        border-radius: 1rem!important;
        width: 350px!important;
    }
    .imagine{
        display: inline-block !important;
        margin-right: 0px;
        margin-left: 0px;
        max-width:350px;
    }

    .imagine{
        width:100%;
    }

    .tipos-card-img{
        height: 300px;
    }

    .media-line {
        width: 60% !important;
        height: 6px!important;
        background-color: var(--ligth);
        top: 300px !important;
    }

    .quote-text {
        margin-left: 0rem !important;
    }
    .autor {
        margin-left: 0rem !important;
    }

    .computers {
        margin-top: -5rem !important;
        width: 150px !important;
        margin-right: 1rem !important;
    }
    .you-imagine{
        width: 100% !important;
    }

    .main-columna {
        column-count:1 !important;
    }

}


.easy-card{
    background-color: var(--fondo) !important;
    border: 0px !important;
}
.easy-card{
    border-radius: 1rem !important;
}
.easy-card:hover{
    border-radius: 22.3rem !important;
}

.facilidad{
    border-radius: 2rem !important;
}

input[type="text"], .send-email{
    width:350px;
}

.float-card:hover{
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.facilidad:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.tipos-card{
    border-radius: 3rem;
    border: 0px solid var(--violet);
    color: var(--violet);
}

.media-line{
    width: 98px;
    height: 5px;
    background-color: var(--ligth);
}

.tipo-benn{
    border: 3px solid #E1E4E8 !important;
    border-radius: 3rem;
}
.tipo-benn:hover{
    border: 0px solid #E1E4E8 !important;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.25),
    -3px -3px 10px 5px rgba(0,0,0,0.22);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.tipo-benn  img{
    width:150px;
}

.up-wabe{
    margin-top: -15rem;
}

.up-wabe-2{
    width: 100%;
    margin-top: 100px;
    z-index: 2;
    position: absolute;
}

.vip-specific{
    border-radius: 1rem;
}

.computers{
    margin-top: 0rem;
    right: 0;
    width: 350px;
}

.grafico{
    padding: 1px 1px 1px 1px;
    padding-top: 280px;
    height: 400px;
    text-align: center;
    margin: 1px;
}

blockquote {
    border-left:none
}

.quote-badge {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
    overflow: hidden;
    padding-top: 25px;
    border-radius: 17px;
    color: white;
}

.quotation-mark {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15rem;
    color: var(--secondary);
    font-family: "Times New Roman", Times, Serif;
    position: absolute;
}

.quote-text {
    font-size: 30px;
    margin-top: 12rem;
    margin-left: 6rem;
}

.cite-divisor{
    width: 150px !important;
    background: var(--secondary);
    opacity: 1;
    height:5px !important;
}

.autor{
    font-size: 15px;
    margin-left: 6rem;
}

.g1{
    background: #002892;
    background: linear-gradient(0deg, rgba(0,40,146,100) 0%, rgba(0,40,146,100) 63%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
}
.g2{
    background: #E48010;
    background: linear-gradient(0deg, rgba(228,128,16,100) 0%, rgba(228,128,16,100) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.g3{
    background: #0051AB;
    background: linear-gradient(0deg, rgba(0,81,171,100) 0%, rgba(0,81,171,100) 61%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);
}

.g4{
    background: #8042B9;
    background: linear-gradient(0deg, rgba(128,66,185,100) 0%, rgba(128,66,185,100) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
}

.page-footer ul li:before, .page-footer ul li:after {
    background-color: transparent !important;
}



.contenedorIMG:hover .img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.contenedorIMG {
    overflow: hidden;
}

.img,
.img:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.imagine{
     border-radius: 3rem;
 }

.grafico:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border: 0px solid #E1E4E8 !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

::marker {
    color: var(--secondary);
    font-size: .8em;
}

.tree:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border: 0px solid #E1E4E8 !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.edigital:hover h5{
    color: var(--secondary) !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.ehibrido:hover h5{
    color: var(--violet) !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.epresencial:hover h5{
    color: var(--primary_ligth) !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.alimento{
    border-radius: 3rem !important;
    top: 2rem;
    left: -5rem;
    width: 35rem;
}

.main-columna {
    column-count:2;
}

.tipo-benn-2{
    border: 0px solid #E1E4E8 !important;
    border-radius: 3rem;
}
.tipo-benn-2:hover{
    border: 0px solid #E1E4E8 !important;
    box-shadow: 3px 3px 10px 5px rgb(255, 255, 255),
    -3px -3px 10px 5px rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    opacity: .9;
}

.tipo-benn-2 img {
    width: 60px !important;
}

.hover-taller:hover{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 2rem;
    -webkit-transition: all .5s ease-in-out;
}

.nav-item{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}