:root {
    --primary: #002892;
    --primary_ligth: #0051AB;
    --secondary: #D42370;
    --violet: #8042B9;
    --orange: #E48010;
    --text: #707A80;
    --fondo : #ffffff;

    --ligth: #ffffff;
    --grey: #e1e4e8;
    --greyligth: #EDEDED;
    --alert: indianred;
    --greybold: #505050;
    --redmarck: #d50037;
}
*{
    font-family: 'Cabin', sans-serif;
}

/*@over botstrap styles*/
.bg-primary, .btn-primary{background-color: var(--primary) !important;}
.bg-red{background-color: var(--redmarck) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.bg-greyligth{background-color: var(--greyligth) !important;}
.bg-secondary{background-color: var(--secondary) !important;}

.bg-blue{background-color: var(--primary_ligth) !important;}
.bg-violet{background-color: var(--violet) !important;}

.text-secondary{
    color: var(--secondary) !important
}
.text-violet{
    color: var(--violet) !important;
}

.text-blue-light{
    color: var(--primary_ligth) !important
}

.text-gray{
    color: var(--text) !important
}

.btn{
    border-radius: 0px;
    font-size: 12px;
}

.btn-primary{
    background-color: var(--primary);
    background: linear-gradient(rgb(16, 34, 79) 95%, rgb(3,112,255) 99%);
    color: var(--bs-white);
    border-style: none;
}

.btn-outline-secondary {
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color:var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary{
    background: linear-gradient(rgb(233,35,112) 0%, rgb(233,35,112) 99%);color: var(--bs-white) !important;
    border-style: none !important;
    border-radius: 0px !important;
    font-size: 16px!important;
}

.border-dark{
    border-color: #494949 !important;
}

body{
    background-color: var(--fondo);
}

hr{
    text-align: center;
    width: 70%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.75));
}

/*MyStyles*/
.menu{
    background-color: var(--ligth) !important
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.line-divisor{
    margin: 0px !important;
    height: 2px !important;
}

.float-card{
    top: 16rem;
    position: absolute;
    margin-left: 16rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--violet);
    color: var(--violet);
    width: 390px;
}

@media (max-width: 576px){
    .float-card {
        top: -3rem;
        position: relative;
        margin-left: 1rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-radius: 1rem;
        width: 350px;

    }
    .imagine{
        display: inline-block !important;
        margin-right: 0px;
        margin-left: 0px;
        max-width:350px;
    }

    .imagine, img{
        width:300px;
    }

    .tipos-card-img{
        height: 300px;
    }

    .media-line {
        width: 60% !important;
        height: 6px!important;
        background-color: var(--ligth);
        top: 300px !important;
    }

    .quote-text {
        margin-left: 0rem !important;
        text-align: center !important;
    }
    .autor {
        margin-left: 0rem !important;
    }
}


.card,.easy-card{
    background-color: var(--fondo) !important;
    border: 0px !important;
}
.easy-card{
    border-radius: 1rem !important;
}
.card, .easy-card:hover{
    border-radius: 22.3rem !important;
}


input[type="text"], .send-email{
    width:350px;
}

.float-card:hover{
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.facilidad:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.tipos-card{
    border-radius: 3rem;
    border: 0px solid var(--violet);
    color: var(--violet);
}

.media-line{
    width: 98px;
    height: 5px;
    background-color: var(--ligth);
}

.tipo-benn{
    border: 5px solid #cfcfcf !important;
    border-radius: 3rem;
}

.tipo-benn  img{
    width:150px;
}

.up-wabe{

}

.up-wabe-2{
    margin-top: -60vh !important;
}

.vip-specific{
    border-radius: 1rem;
}

.computers{
    top: 0rem;
    left: -10rem;
}

.grafico{
    padding: 1px 1px 1px 1px;
    padding-top: 280px;
    height: 400px;
    text-align: center;
}

blockquote {
    border-left:none
}

.quote-badge {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
    overflow: hidden;
    padding-top: 25px;
    border-radius: 17px;
    color: white;
}

.quotation-mark {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15rem;
    color: var(--secondary);
    font-family: "Times New Roman", Times, Serif;
    position: absolute;
}

.quote-text {
    font-size: 30px;
    margin-top: 12rem;
    margin-left: 6rem;
}

.cite-divisor{
    width: 150px !important;
    background: var(--secondary);
    opacity: 1;
    height:3px !important;
}

.autor{
    font-size: 15px;
    margin-left: 6rem;
}

.g1{
    background: #002892;
    background: linear-gradient(0deg, rgba(0,40,146,100) 0%, rgba(0,40,146,100) 63%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
}
.g2{
    background: #E48010;
    background: linear-gradient(0deg, rgba(228,128,16,100) 0%, rgba(228,128,16,100) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.g3{
    background: #0051AB;
    background: linear-gradient(0deg, rgba(0,81,171,100) 0%, rgba(0,81,171,100) 61%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%);
}

.g4{
    background: #8042B9;
    background: linear-gradient(0deg, rgba(128,66,185,100) 0%, rgba(128,66,185,100) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
}